
<form action="/new" method="post">
    <input type="text" name="messageText" id="messageText">
    <input type="text" name="messageUser" id="messageUser">
    <div>
        <button type="reset">Clear</button>
        <button type="submit">Send</button>
    </div>
</form>    
